*{
    margin: 0;
    padding: 0;
}
p{
    color: white;
    margin-left: 40px;
}
body{
    padding: 10px;
    margin: 15px;
    font-size: small;
    font-family: sans-serif;
    font-style: normal;

}
.profile{
    margin-top: 364px;
    float: left;
    margin-right: 300px;
}
.forme{
    float: left;
}
.foot{
    text-decoration: none;
    color: white;
    font-size: 10 px;
}
header{ 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;

    
}
section{
    font-family: sans-serif;
    margin-top: 90px;
    padding: 0px;
}
article{
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}
.title{
    font-size: 23px;
    font-weight: bold;
    color: black ;
}
.date{
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
    float: right;
    margin-right: 200px;
}
nav{
    float: right;
}
nav>ul>li{
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
}
nav>ul>li>a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    font-family: "roboto",sans-serif;
    text-transform: uppercase;
}
img[src="assets/img/1.jfif"]{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    float: left;
    top: 90px;
    
}
h3{
    text-transform: uppercase;
    color: white;

}
.java{
    color: white;
}
.php{
    color: white;
}
.tb{
    border: solid 1px white;
}
.p{
    border: solid 1px white;
}
.fo{
    margin-left: 20px;
    color: white;
}
.wa{
    margin-left: 5px;
    color: white;
}
.re{
    margin-left: 5px;
    color: white;
}
.fi{
    margin-left: 20px;
    color: white;
}
.ed{
    margin-left: 15px;
    color: white;
}
.s{
    margin-left: 15px;
    color: white;
}
img{
    float: left;
    width: 30%;
    height: 200px;
    margin: 1.66%;
}
nav>ul>li.active>a{
    border: 1px solid white;
}
nav>ul>li>a:hover{
    border: 1px solid white;
}
.button{
    margin-top: 20px;
    margin-left: 560px;
}
.btn{
    border: solid 1px white;
    padding: 10px 30px;
    color: white;
    margin-right: 5px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;

}
 .b1{
     background-color: darkorange;
     font-family: "robotic",sans-serif;
 }
 .b2{
    font-family: "robotic",sans-serif;
 }
 .b2:hover{
    background-color: darkorange;
 }
 @media only screen and(max-width:700px){
     nav ul{
         height: 220px;
         flex-direction:column;
         text-align:center ;
     }
     nav li{
         border:0;
     }
 }
 